.weather_button {
    background: gray;
    color: white;
    margin: 5px;
}

input {
    border-bottom: 2px solid black;
    margin: 5px;
    background: #DBFCFF;
    border-top: none;
    border-left: none;
    border-right: none;
}