.App-header {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  height: 80px;
}

.button {
    color: white;
    background: blue;
    border-radius: 10px;
}

input {
    border-bottom: 1px solid black;
}
